@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900);

$accent: #ffa500;
$grey: #f5f5f5;
$darker-grey: #d3d3d3;
$text-grey: #a9a9aa;

html,
body {
  font-family: "Nunito";
  font-weight: 400;
  overflow: hidden;
}

.stream-preview {
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__counter {
    position: absolute;
    bottom: 7px;
    right: 7px;
    z-index: 3;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    color: white;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover::after {
    opacity: 1;
  }

  &_live::before {
    content: "LIVE";
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;
    padding: 4px 10px;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    background-color: red;
    border-radius: 5px;
  }

  &::after {
    content: "\f1b0";
    font: var(--fa-font-solid);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

.stream-info {
  display: flex;
  align-items: center;
  padding: 5px;

  &__streamer-avatar-wrapper {
    flex: 0 0 auto;
    height: 100%;
    margin: 3px;
    padding: 5px;
    border-radius: 50%;
    background-color: $accent;
  }

  &__streamer-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info-block {
    flex: 1 1 auto;
    margin-right: 5px;
    overflow: hidden;
  }

  &__stream-title {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
  }

  &__streamer-name {
    color: $text-grey;
    font-size: 14px;
  }

  &__stream-menu {
    align-self: flex-start;
  }
}

.container {
  display: grid;
  grid-template-columns: 250px calc(100vw - 250px);
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100vh;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 80px calc((100vw - 80px));
  }
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 2;
  box-shadow: 0px 5px 2px -2px rgba(128, 128, 128, 0.5);

  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 15px;
    cursor: pointer;
    font-size: 36px;
    color: $accent;
  }

  &__logo-img-wrapper {
    margin-right: 5px;
  }

  &__logo-text {
    font-weight: 500;
  }

  &__search {
    display: flex;
    flex: 0 1 600px;
    align-items: center;
    margin-right: 15px;
  }

  &__searchbar {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 5px;
    outline: 1px solid $darker-grey;
    border-radius: 5px;
    overflow: hidden;
  }

  &__searchbar-input {
    flex-grow: 1;
    padding: 10px;

    &:focus {
      padding: 9px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }

  &__search-button {
    width: 32px;
    padding: 10px 0;
    background-color: $grey;
    border-left: 1px solid $darker-grey;
  }

  &__voice-search-button {
    color: $text-grey;
    transition: color 0.2s ease;
    &:hover {
      color: $accent;
    }
  }

  &__menu {
    display: flex;
    justify-self: flex-end;
    align-items: center;
  }

  &__notifications {
    margin-right: 10px;
    color: $text-grey;
    transition: color 0.3s ease;
    &:hover {
      color: $accent;
    }
  }

  &__menu-dropdown {
    position: relative;
  }

  &__menu-dropdown-button {
    background-color: $accent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  &__menu-dropdown-block {
    display: none;
    position: absolute;
    right: 5px;
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 3px;
  }

  &__menu-dropdown:hover &__menu-dropdown-block {
    display: block;
  }

  &__menu-dropdown:hover &__menu-dropdown-button {
    background-color: $darker-grey;
  }

  &__menu-dropdown-list-item {
    display: flex;
    align-items: center;
    width: 150px;
    padding: 10px 15px;

    &:hover {
      background-color: $darker-grey;
    }

    &:last-child {
      color: red;
      border-top: 1px solid $text-grey;
    }
  }

  &__menu-dropdown-link {
    margin-left: 5px;
  }
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.streamers-list {
  flex: 1 0 220px;
  margin-bottom: 3px;
  padding: 10px;
  background-color: $grey;
  font-weight: 600;
  overflow-y: auto;

  &__streamer-item {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $darker-grey;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
      justify-content: center;
    }
  }

  &__streamer-img-wrapper {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    padding: 7px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;

    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }
  }

  &__streamer-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__streamer-name {
    flex-grow: 1;
    margin-right: 15px;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__counter {
    position: relative;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__counter_live {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -12px;
      width: 8px;
      height: 8px;
      transform: translate(0, -50%);
      border-radius: 50%;
      animation: pulse 2s infinite;
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
      background-color: red;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95) translate(0, -50%);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }

  70% {
    transform: scale(1) translate(0, -50%);
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.95) translate(0, -50%);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.sidebar-info {
  padding: 10px;
  background-color: $grey;

  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;

    &::selection {
      background-color: $accent;
      color: white;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &_telegram {
      &:hover {
        color: #2aabee;
      }
    }

    &_instagram {
      &:hover {
        color: #c13584;
      }
    }

    &_facebook {
      &:hover {
        color: #4267b2;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.sidebar-info-wrapper {
  padding: 10px 20px;
  background-color: $darker-grey;
  border-radius: 5px;
}

.main {
  grid-area: main;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.categories {
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 15px;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: max-content;
  column-gap: 10px;
  overflow-x: auto;

  &__item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $darker-grey;
    grid-row: 1/2;
    height: 40px;
    border-radius: 20px;
    background-color: $grey;
    padding: 10px 20px;

    &:first-child {
      background-color: $accent;
      border: 0;
    }
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.carousel-container {
  width: 100%;
  flex: 1 0 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;

  input[type="radio"] {
    display: none;
  }
}

.streams-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;

  &__stream-card {
    display: flex;
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
  }

  &__card-info {
    width: 25%;
    padding: 5px;
    background-color: $grey;
  }

  &__stream-preview {
    flex: 1 1 auto;
    width: 75%;
  }

  &__stream-info {
    height: 50px;
    margin-bottom: 20px;
  }
}

#item-1:checked ~ .streams-carousel #stream-3,
#item-2:checked ~ .streams-carousel #stream-1,
#item-3:checked ~ .streams-carousel #stream-2 {
  transform: translatex(-25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .streams-carousel #stream-2,
#item-2:checked ~ .streams-carousel #stream-3,
#item-3:checked ~ .streams-carousel #stream-1 {
  transform: translatex(25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .streams-carousel #stream-1,
#item-2:checked ~ .streams-carousel #stream-2,
#item-3:checked ~ .streams-carousel #stream-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.streams-gallery {
  width: 100%;
  flex: 1 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  gap: 10px;
  margin-bottom: 15px;

  &__stream-preview {
    height: 85%;
  }

  &__stream-info {
    height: 15%;
  }
}

.stream {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    margin-right: 5px;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: $grey;
}

::-webkit-scrollbar-thumb {
  background-color: $darker-grey;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $accent;
}
