@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900);
html,
body {
  font-family: "Nunito";
  font-weight: 400;
  overflow: hidden;
}

.stream-preview {
  position: relative;
}
.stream-preview__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stream-preview__counter {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 3;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  color: white;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.stream-preview__counter:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.stream-preview:hover::after {
  opacity: 1;
}
.stream-preview_live::before {
  content: "LIVE";
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 2;
  padding: 4px 10px;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  background-color: red;
  border-radius: 5px;
}
.stream-preview::after {
  content: "\f1b0";
  font: var(--fa-font-solid);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.stream-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}
.stream-info__streamer-avatar-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
  margin: 3px;
  padding: 5px;
  border-radius: 50%;
  background-color: #ffa500;
}
.stream-info__streamer-avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stream-info__info-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 5px;
  overflow: hidden;
}
.stream-info__stream-title {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}
.stream-info__streamer-name {
  color: #a9a9aa;
  font-size: 14px;
}
.stream-info__stream-menu {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px calc(100vw - 250px);
  grid-template-columns: 250px calc(100vw - 250px);
  -ms-grid-rows: 60px calc(100vh - 60px);
  grid-template-rows: 60px calc(100vh - 60px);
      grid-template-areas: "header header" "sidebar main";
  height: 100vh;
}
@media screen and (max-width: 1200px) {
  .container {
    -ms-grid-columns: 80px calc(100vw - 80px);
    grid-template-columns: 80px calc(100vw - 80px);
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 2px -2px rgba(128, 128, 128, 0.5);
          box-shadow: 0px 5px 2px -2px rgba(128, 128, 128, 0.5);
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
  cursor: pointer;
  font-size: 36px;
  color: #ffa500;
}
.header__logo-img-wrapper {
  margin-right: 5px;
}
.header__logo-text {
  font-weight: 500;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}
.header__searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 5px;
  outline: 1px solid #d3d3d3;
  border-radius: 5px;
  overflow: hidden;
}
.header__searchbar-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
}
.header__searchbar-input:focus {
  padding: 9px;
  border: 1px solid black;
  border-radius: 5px;
}
.header__search-button {
  width: 32px;
  padding: 10px 0;
  background-color: #f5f5f5;
  border-left: 1px solid #d3d3d3;
}
.header__voice-search-button {
  color: #a9a9aa;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.header__voice-search-button:hover {
  color: #ffa500;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__notifications {
  margin-right: 10px;
  color: #a9a9aa;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header__notifications:hover {
  color: #ffa500;
}
.header__menu-dropdown {
  position: relative;
}
.header__menu-dropdown-button {
  background-color: #ffa500;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.header__menu-dropdown-block {
  display: none;
  position: absolute;
  right: 5px;
  -webkit-box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 3px;
}
.header__menu-dropdown:hover .header__menu-dropdown-block {
  display: block;
}
.header__menu-dropdown:hover .header__menu-dropdown-button {
  background-color: #d3d3d3;
}
.header__menu-dropdown-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  padding: 10px 15px;
}
.header__menu-dropdown-list-item:hover {
  background-color: #d3d3d3;
}
.header__menu-dropdown-list-item:last-child {
  color: red;
  border-top: 1px solid #a9a9aa;
}
.header__menu-dropdown-link {
  margin-left: 5px;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.streamers-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 220px;
          flex: 1 0 220px;
  margin-bottom: 3px;
  padding: 10px;
  background-color: #f5f5f5;
  font-weight: 600;
  overflow-y: auto;
}
.streamers-list__streamer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.streamers-list__streamer-item:hover {
  background-color: #d3d3d3;
}
.streamers-list__streamer-item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .streamers-list__streamer-item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.streamers-list__streamer-img-wrapper {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 7px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
}
@media screen and (max-width: 1200px) {
  .streamers-list__streamer-img-wrapper {
    margin-right: 0;
  }
}
.streamers-list__streamer-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.streamers-list__streamer-name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .streamers-list__streamer-name {
    display: none;
  }
}
.streamers-list__counter {
  position: relative;
}
@media screen and (max-width: 1200px) {
  .streamers-list__counter {
    display: none;
  }
}
.streamers-list__counter_live::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  width: 8px;
  height: 8px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  -webkit-box-shadow: 0 0 0 0 rgb(255, 0, 0);
          box-shadow: 0 0 0 0 rgb(255, 0, 0);
  background-color: red;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95) translate(0, -50%);
            transform: scale(0.95) translate(0, -50%);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  70% {
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
    -webkit-box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95) translate(0, -50%);
            transform: scale(0.95) translate(0, -50%);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95) translate(0, -50%);
            transform: scale(0.95) translate(0, -50%);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  70% {
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
    -webkit-box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95) translate(0, -50%);
            transform: scale(0.95) translate(0, -50%);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
.sidebar-info {
  padding: 10px;
  background-color: #f5f5f5;
}
.sidebar-info__title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.sidebar-info__title::-moz-selection {
  background-color: #ffa500;
  color: white;
}
.sidebar-info__title::selection {
  background-color: #ffa500;
  color: white;
}
.sidebar-info__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar-info__icon {
  margin-right: 20px;
}
.sidebar-info__icon:last-child {
  margin-right: 0;
}
.sidebar-info__icon_telegram:hover {
  color: #2aabee;
}
.sidebar-info__icon_instagram:hover {
  color: #c13584;
}
.sidebar-info__icon_facebook:hover {
  color: #4267b2;
}
@media screen and (max-width: 1200px) {
  .sidebar-info {
    display: none;
  }
}

.sidebar-info-wrapper {
  padding: 10px 20px;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.categories {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.categories__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d3d3d3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 40px;
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 10px 20px;
}
.categories__item:first-child {
  background-color: #ffa500;
  border: 0;
}
.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.carousel-container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.carousel-container input[type=radio] {
  display: none;
}

.streams-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.streams-carousel__stream-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  cursor: pointer;
}
.streams-carousel__card-info {
  width: 25%;
  padding: 5px;
  background-color: #f5f5f5;
}
.streams-carousel__stream-preview {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 75%;
}
.streams-carousel__stream-info {
  height: 50px;
  margin-bottom: 20px;
}

#item-1:checked ~ .streams-carousel #stream-3,
#item-2:checked ~ .streams-carousel #stream-1,
#item-3:checked ~ .streams-carousel #stream-2 {
  -webkit-transform: translatex(-25%) scale(0.8);
          transform: translatex(-25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .streams-carousel #stream-2,
#item-2:checked ~ .streams-carousel #stream-3,
#item-3:checked ~ .streams-carousel #stream-1 {
  -webkit-transform: translatex(25%) scale(0.8);
          transform: translatex(25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .streams-carousel #stream-1,
#item-2:checked ~ .streams-carousel #stream-2,
#item-3:checked ~ .streams-carousel #stream-3 {
  -webkit-transform: translatex(0) scale(1);
          transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.streams-gallery {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  gap: 10px;
  margin-bottom: 15px;
}
.streams-gallery__stream-preview {
  height: 85%;
}
.streams-gallery__stream-info {
  height: 15%;
}

.stream {
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__text {
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffa500;
}